# .gitignore

# Java
*.class
*.jar
target/
build/
out/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/

# Node
node_modules/
dist/

# IDEs / editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/
